
      
    <section class="eattributions__container" id="attributions">
        <h1 class="econtainer__title">Documentación de los recursos utilizados</h1>
      <p class="econtainer__text">En esta página encuentras todos los enlaces a los recursos utilizados para la creación de este sitio web. Algunos de estos recursos tienen que ser atribuidos. Se ha hecho la atribución* tal cual se especifica en cada caso (en los que aplique).</p>
        <div class="eattributions__table-wrapper">
        <table class="eattributions__table table-bordered table-responsive">
          <caption class="eattributions__table-caption">Documentación de los recursos utilizados</caption>  
          <thead class="eattributions__table-head">
            <tr class="eattributions__table-row">
              <th class="eattributions__table-cell" scope="col">Tipo de recurso</th>
              <th class="eattributions__table-cell" scope="col">Descripción</th>
              <th class="eattributions__table-cell" scope="col">Utilizada en</th>
              <th class="eattributions__table-cell" scope="col">Autor</th>
              <th class="eattributions__table-cell" scope="col">Atribución*</th>
              <th class="eattributions__table-cell" scope="col">Enlace</th>
            </tr>
          </thead>
          <tbody class="eattributions__table-body">  
            <tr class="eattributions__table-row">
              <td class="eattributions__table-cell">Ícono</td>
              <td class="eattributions__table-cell">Fav icon</td>
              <td class="eattributions__table-cell">Todo el sitio web</td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/">Flaticon - Freepik</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/iconos-gratis/economia-circular" title="economía circular iconos">Economía circular iconos creados por nangicon - Flaticon</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/icono-gratis/social_11164260" target="_blank">https://www.flaticon.es/icono-gratis/social_11164260</a></td>
            </tr>  
            <tr class="eattributions__table-row">
              <td class="eattributions__table-cell">Logo</td>
              <td class="eattributions__table-cell">Logo del encabezado y pie de página</td>
              <td class="eattributions__table-cell">Todo el sitio web</td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/">Flaticon - Freepik</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/iconos-gratis/economia-circular" title="economía circular iconos">Economía circular iconos creados por Flat Icons - Flaticon</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/icono-gratis/economia-circular_3966998" target="_blank">https://www.flaticon.es/icono-gratis/economia-circular_3966998</a></td>
            </tr>
            <tr class="eattributions__table-row">
              <td class="eattributions__table-cell">Fotografía</td>
              <td class="eattributions__table-cell">Fotografía de retazos de tela</td>
              <td class="eattributions__table-cell">Página de <a class="eattributions__table-link" href="index.html">inicio</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.pexels.com/es-es/@paulo-sergio-zembruski-459692/">Paulo Sérgio Zembruski</a> (2019)</td>
              <td class="eattributions__table-cell">Licencia de uso <a class="eattributions__table-link" href="https://www.pexels.com/license/">Uso gratuito</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.pexels.com/es-es/foto/textil-rojo-blanco-y-verde-3778061/" target="_blank">https://www.pexels.com/es-es/foto/textil-rojo-blanco-y-verde-3778061/</a></td>
            </tr>
            <tr class="eattributions__table-row">
              <td class="eattributions__table-cell">Fotografía</td>
              <td class="eattributions__table-cell">Fotografía de conferencia</td>
              <td class="eattributions__table-cell">Página de <a class="eattributions__table-link" href="index.html">inicio</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.pexels.com/es-es/@rethaferguson/">RF._.studio _</a> (2020)</td>
              <td class="eattributions__table-cell">Licencia de uso <a class="eattributions__table-link" href="https://www.pexels.com/license/">Uso gratuito</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.pexels.com/es-es/foto/foto-de-mujeres-en-el-encuentro-3811082/" target="_blank">https://www.pexels.com/es-es/foto/foto-de-mujeres-en-el-encuentro-3811082/</a></td>
            </tr>
            <tr class="eattributions__table-row">
              <td class="eattributions__table-cell">Fotografía</td>
              <td class="eattributions__table-cell">Fotografía de cartel</td>
              <td class="eattributions__table-cell">Página de <a class="eattributions__table-link" href="index.html">inicio</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.pexels.com/es-es/@markusspiske/">Markus Spiske</a> (2019)</td>
              <td class="eattributions__table-cell">Licencia de uso <a class="eattributions__table-link" href="https://www.pexels.com/license/">Uso gratuito</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.pexels.com/es-es/foto/feliz-cumpleanos-a-ti-tarjeta-de-felicitacion-2990641/" target="_blank">https://www.pexels.com/es-es/foto/feliz-cumpleanos-a-ti-tarjeta-de-felicitacion-2990641/</a></td>
            </tr>

            <tr class="eattributions__table-row">
              <td class="eattributions__table-cell">Fotografía</td>
              <td class="eattributions__table-cell">Fotografía de mujer con prendas de plástico</td>
              <td class="eattributions__table-cell">Página de <a class="eattributions__table-link" href="ponentes.html">ponentes</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.pexels.com/es-es/@mart-production/">MART PRODUCTION</a> (2021)</td>
              <td class="eattributions__table-cell">Licencia de uso <a class="eattributions__table-link" href="https://www.pexels.com/license/">Uso gratuito</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.pexels.com/es-es/foto/mujer-reciclaje-contaminacion-concepto-7767680/" target="_blank">https://www.pexels.com/es-es/foto/mujer-reciclaje-contaminacion-concepto-7767680/</a></td>
            </tr>
            <tr class="eattributions__table-row">
              <td class="eattributions__table-cell">Fotografía</td>
              <td class="eattributions__table-cell">Fotografía de hombre con joyas</td>
              <td class="eattributions__table-cell">Página de <a class="eattributions__table-link" href="ponentes.html">ponentes</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.pexels.com/es-es/@mahdi-chaghari-9996334/">mahdi chaghari</a> (2023)</td>
              <td class="eattributions__table-cell">Licencia de uso <a class="eattributions__table-link" href="https://www.pexels.com/license/">Uso gratuito</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.pexels.com/es-es/foto/retrato-masculino-elegante-en-moda-formal-31824668/" target="_blank">https://www.pexels.com/es-es/foto/retrato-masculino-elegante-en-moda-formal-31824668/</a></td>
            </tr>
            <tr class="eattributions__table-row">
              <td class="eattributions__table-cell">Fotografía</td>
              <td class="eattributions__table-cell">Fotografía de mujer sonriente</td>
              <td class="eattributions__table-cell">Página de <a class="eattributions__table-link" href="ponentes.html">ponentes</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.pexels.com/es-es/@shvets-production/">SHVETS production</a> (2021)</td>
              <td class="eattributions__table-cell">Licencia de uso <a class="eattributions__table-link" href="https://www.pexels.com/license/">Uso gratuito</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.pexels.com/es-es/foto/soleado-mujer-retrato-sonriente-8417220/" target="_blank">https://www.pexels.com/es-es/foto/soleado-mujer-retrato-sonriente-8417220/</a></td>
            </tr>
            <tr class="eattributions__table-row">
              <td class="eattributions__table-cell">Fotografía</td>
              <td class="eattributions__table-cell">Fotografía de hombre con máquina de coser</td>
              <td class="eattributions__table-cell">Página de <a class="eattributions__table-link" href="ponentes.html">ponentes</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.pexels.com/es-es/@olly/">Andrea Piacquadio</a> (2020)</td>
              <td class="eattributions__table-cell">Licencia de uso <a class="eattributions__table-link" href="https://www.pexels.com/license/">Uso gratuito</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.pexels.com/es-es/foto/foto-de-hombre-cosiendo-3814539/" target="_blank">https://www.pexels.com/es-es/foto/foto-de-hombre-cosiendo-3814539/</a></td>
            </tr>
            <tr class="eattributions__table-row">
              <td class="eattributions__table-cell">Fotografía</td>
              <td class="eattributions__table-cell">Fotografía de grupo de personas</td>
              <td class="eattributions__table-cell">Página de <a class="eattributions__table-link" href="ponentes.html">ponentes</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.pexels.com/es-es/@mart-production/">MART PRODUCTION</a> (2021)</td>
              <td class="eattributions__table-cell">Licencia de uso <a class="eattributions__table-link" href="https://www.pexels.com/license/">Uso gratuito</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.pexels.com/es-es/foto/hombre-persona-gente-mujer-7550397/" target="_blank">https://www.pexels.com/es-es/foto/hombre-persona-gente-mujer-7550397/</a></td>
            </tr>
            <tr class="eattributions__table-row">
              <td class="eattributions__table-cell">Fotografía</td>
              <td class="eattributions__table-cell">Fotografía de mujer con gafas</td>
              <td class="eattributions__table-cell">Página de <a class="eattributions__table-link" href="ponentes.html">ponentes</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.pexels.com/es-es/@godisable-jacob-226636/">Godisable Jacob</a> (2018)</td>
              <td class="eattributions__table-cell">Licencia de uso <a class="eattributions__table-link" href="https://www.pexels.com/license/">Uso gratuito</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.pexels.com/es-es/foto/foto-de-mujer-vestida-con-top-floral-amarillo-871495/" target="_blank">https://www.pexels.com/es-es/foto/foto-de-mujer-vestida-con-top-floral-amarillo-871495/</a></td>
            </tr>
            <tr class="eattributions__table-row">
              <td class="eattributions__table-cell">Fotografía</td>
              <td class="eattributions__table-cell">Fotografía de mujer con libreta</td>
              <td class="eattributions__table-cell">Página de <a class="eattributions__table-link" href="ponentes.html">ponentes</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.pexels.com/es-es/@moose-photos-170195/">Moose Photos</a> (2018)</td>
              <td class="eattributions__table-cell">Licencia de uso <a class="eattributions__table-link" href="https://www.pexels.com/license/">Uso gratuito</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.pexels.com/es-es/foto/mujer-sonriente-vistiendo-sueter-negro-1587009/" target="_blank">https://www.pexels.com/es-es/foto/mujer-sonriente-vistiendo-sueter-negro-1587009/</a></td>
            </tr>
            <tr class="eattributions__table-row">
              <td class="eattributions__table-cell">Fotografía</td>
              <td class="eattributions__table-cell">Fotografía de mujer sonriente</td>
              <td class="eattributions__table-cell">Página de <a class="eattributions__table-link" href="ponentes.html">ponentes</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.pexels.com/es-es/@olly/">Andrea Piacquadio</a> (2018)</td>
              <td class="eattributions__table-cell">Licencia de uso <a class="eattributions__table-link" href="https://www.pexels.com/license/">Uso gratuito</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.pexels.com/es-es/foto/mujer-en-camisa-con-cuello-774909/" target="_blank">https://www.pexels.com/es-es/foto/mujer-en-camisa-con-cuello-774909/</a></td>
            </tr>
            <tr class="eattributions__table-row">
              <td class="eattributions__table-cell">Fotografía</td>
              <td class="eattributions__table-cell">Fotografía de mujer con gorro</td>
              <td class="eattributions__table-cell">Página de <a class="eattributions__table-link" href="ponentes.html">ponentes</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.pexels.com/es-es/@alipazani/">Ali Pazani</a> (2019)</td>
              <td class="eattributions__table-cell">Licencia de uso <a class="eattributions__table-link" href="https://www.pexels.com/license/">Uso gratuito</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.pexels.com/es-es/foto/una-mujer-posando-con-la-mano-debajo-de-la-barbilla-2887718/" target="_blank">https://www.pexels.com/es-es/foto/una-mujer-posando-con-la-mano-debajo-de-la-barbilla-2887718/</a></td>
            </tr>

            <tr class="eattributions__table-row">
              <td class="eattributions__table-cell">Fotografía</td>
              <td class="eattributions__table-cell">Fotografía de hombre con prendas de plástico</td>
              <td class="eattributions__table-cell">Página de <a class="eattributions__table-link" href="#.html">artículo</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.pexels.com/es-es/@mart-production/">MART PRODUCTION</a> (2021)</td>
              <td class="eattributions__table-cell">Licencia de uso <a class="eattributions__table-link" href="https://www.pexels.com/license/">Uso gratuito</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.pexels.com/es-es/foto/manos-sujetando-contaminacion-plastico-7767803/" target="_blank">https://www.pexels.com/es-es/foto/manos-sujetando-contaminacion-plastico-7767803/</a></td>
            </tr>
            <tr class="eattributions__table-row">
              <td class="eattributions__table-cell">Fotografía</td>
              <td class="eattributions__table-cell">Fotografía de hombre con prendas de plástico</td>
              <td class="eattributions__table-cell">Página de <a class="eattributions__table-link" href="#.html">artículo</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.pexels.com/es-es/@mart-production/">MART PRODUCTION</a> (2021)</td>
              <td class="eattributions__table-cell">Licencia de uso <a class="eattributions__table-link" href="https://www.pexels.com/license/">Uso gratuito</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.pexels.com/es-es/foto/hombre-de-chaqueta-amarilla-y-azul-de-pie-afuera-3392032/" target="_blank">https://www.pexels.com/es-es/foto/hombre-de-chaqueta-amarilla-y-azul-de-pie-afuera-3392032/</a></td>
            </tr>

            <tr class="eattributions__table-row">
              <td class="eattributions__table-cell">Ícono</td>
              <td class="eattributions__table-cell">Ícono de ropa dañada</td>
              <td class="eattributions__table-cell">Página de <a class="eattributions__table-link" href="formulario.html">formulario</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/">Flaticon - Freepik</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/iconos-gratis/ropa" title="ropa iconos">Ropa iconos creados por Freepik - Flaticon</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/icono-gratis/abrigo_8125427" target="_blank">https://www.flaticon.es/icono-gratis/abrigo_8125427</a></td>
            </tr>
            <tr class="eattributions__table-row">
              <td class="eattributions__table-cell">Ícono</td>
              <td class="eattributions__table-cell">Ícono de ropa dañada</td>
              <td class="eattributions__table-cell">Página de <a class="eattributions__table-link" href="formulario.html">formulario</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/">Flaticon - Freepik</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/iconos-gratis/zapato" title="zapato iconos">Zapato iconos creados por Smashicons - Flaticon</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/icono-gratis/bota_4117215" target="_blank">https://www.flaticon.es/icono-gratis/bota_4117215</a></td>
            </tr>
            <tr class="eattributions__table-row">
              <td class="eattributions__table-cell">Ícono</td>
              <td class="eattributions__table-cell">Ícono de ropa dañada</td>
              <td class="eattributions__table-cell">Página de <a class="eattributions__table-link" href="formulario.html">formulario</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/">Flaticon - Freepik</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/iconos-gratis/calcetines" title="calcetines iconos">Calcetines iconos creados por Freepik - Flaticon</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/icono-gratis/calcetines_6608320" target="_blank">https://www.flaticon.es/icono-gratis/calcetines_6608320</a></td>
            </tr>
            <tr class="eattributions__table-row">
              <td class="eattributions__table-cell">Ícono</td>
              <td class="eattributions__table-cell">Ícono de ropa dañada</td>
              <td class="eattributions__table-cell">Página de <a class="eattributions__table-link" href="formulario.html">formulario</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/">Flaticon - Freepik</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/iconos-gratis/calcetines" title="calcetines iconos">Calcetines iconos creados por Freepik - Flaticon</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/icono-gratis/calcetines_8186879" target="_blank">https://www.flaticon.es/icono-gratis/calcetines_8186879</a></td>
            </tr>
            <tr class="eattributions__table-row">
              <td class="eattributions__table-cell">Ícono</td>
              <td class="eattributions__table-cell">Ícono de ropa dañada</td>
              <td class="eattributions__table-cell">Página de <a class="eattributions__table-link" href="formulario.html">formulario</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/">Flaticon - Freepik</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/iconos-gratis/roto" title="roto iconos">Roto iconos creados por Freepik - Flaticon</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/icono-gratis/ropa_5256803" target="_blank">https://www.flaticon.es/icono-gratis/ropa_5256803</a></td>
            </tr>
            <tr class="eattributions__table-row">
              <td class="eattributions__table-cell">Ícono</td>
              <td class="eattributions__table-cell">Ícono de ropa dañada</td>
              <td class="eattributions__table-cell">Página de <a class="eattributions__table-link" href="formulario.html">formulario</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/">Flaticon - Freepik</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/iconos-gratis/pobreza" title="pobreza iconos">Pobreza iconos creados por Freepik - Flaticon</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/icono-gratis/camisa_9030044" target="_blank">https://www.flaticon.es/icono-gratis/camisa_9030044</a></td>
            </tr>
            <tr class="eattributions__table-row">
              <td class="eattributions__table-cell">Ícono</td>
              <td class="eattributions__table-cell">Ícono de ropa dañada</td>
              <td class="eattributions__table-cell">Página de <a class="eattributions__table-link" href="formulario.html">formulario</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/">Flaticon - Freepik</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/iconos-gratis/ropa" title="ropa iconos">Ropa iconos creados por Freepik - Flaticon</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/icono-gratis/clothing_9267595" target="_blank">https://www.flaticon.es/icono-gratis/clothing_9267595</a></td>
            </tr>
            <tr class="eattributions__table-row">
              <td class="eattributions__table-cell">Ícono</td>
              <td class="eattributions__table-cell">Ícono de ropa dañada</td>
              <td class="eattributions__table-cell">Página de <a class="eattributions__table-link" href="formulario.html">formulario</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/">Flaticon - Freepik</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/iconos-gratis/pobreza" title="pobreza iconos">Pobreza iconos creados por Freepik - Flaticon</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/icono-gratis/medias_8125400" target="_blank">https://www.flaticon.es/icono-gratis/medias_8125400</a></td>
            </tr>
            <tr class="eattributions__table-row">
              <td class="eattributions__table-cell">Ícono</td>
              <td class="eattributions__table-cell">Ícono de ropa dañada</td>
              <td class="eattributions__table-cell">Página de <a class="eattributions__table-link" href="formulario.html">formulario</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/">Flaticon - Freepik</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/iconos-gratis/vagabundo" title="vagabundo iconos">Vagabundo iconos creados por Freepik - Flaticon</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/icono-gratis/pantalones_8125394" target="_blank">https://www.flaticon.es/icono-gratis/pantalones_8125394</a></td>
            </tr>
            <tr class="eattributions__table-row">
              <td class="eattributions__table-cell">Ícono</td>
              <td class="eattributions__table-cell">Ícono de ropa dañada</td>
              <td class="eattributions__table-cell">Página de <a class="eattributions__table-link" href="formulario.html">formulario</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/">Flaticon - Freepik</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/iconos-gratis/sucio" title="sucio iconos">Sucio iconos creados por Freepik - Flaticon</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/icono-gratis/ropa_6308411" target="_blank">https://www.flaticon.es/icono-gratis/ropa_6308411</a></td>
            </tr>
            <tr class="eattributions__table-row">
              <td class="eattributions__table-cell">Ícono</td>
              <td class="eattributions__table-cell">Ícono de ropa dañada</td>
              <td class="eattributions__table-cell">Página de <a class="eattributions__table-link" href="formulario.html">formulario</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/">Flaticon - Freepik</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/iconos-gratis/camiseta" title="camiseta iconos">Camiseta iconos creados por surang - Flaticon</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/icono-gratis/ropa_3239537" target="_blank">https://www.flaticon.es/icono-gratis/ropa_3239537</a></td>
            </tr>
            <tr class="eattributions__table-row">
              <td class="eattributions__table-cell">Ícono</td>
              <td class="eattributions__table-cell">Ícono de ropa dañada</td>
              <td class="eattributions__table-cell">Página de <a class="eattributions__table-link" href="formulario.html">formulario</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/">Flaticon - Freepik</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/iconos-gratis/roto" title="roto iconos">Roto iconos creados por Freepik - Flaticon</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/icono-gratis/zapatos_5964082" target="_blank">https://www.flaticon.es/icono-gratis/zapatos_5964082</a></td>
            </tr>
            <tr class="eattributions__table-row">
              <td class="eattributions__table-cell">Ícono</td>
              <td class="eattributions__table-cell">Ícono de contenedor reciclaje</td>
              <td class="eattributions__table-cell">Página de <a class="eattributions__table-link" href="formulario.html">formulario</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/">Flaticon - Freepik</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/iconos-gratis/reciclaje" title="reciclaje iconos">Reciclaje iconos creados por Smashicons - Flaticon</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://www.flaticon.es/icono-gratis/reciclaje_2372116" target="_blank">https://www.flaticon.es/icono-gratis/reciclaje_2372116</a></td>
            </tr>
            

            <tr class="eattributions__table-row">
              <td class="eattributions__table-cell">Dependencia de desarrollo</td>
              <td class="eattributions__table-cell">Dependencia FontAwesome</td>
              <td class="eattributions__table-cell">Sección de <a class="eattributions__table-link" href="index.html">inicio</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://fontawesome.com/">Font Awesome</a></td>
              <td class="eattributions__table-cell">Licencia de uso <a class="eattributions__table-link" href="https://creativecommons.org/licenses/by/4.0/">Icons - CC BY 4.0 License</a></td>
              <td class="eattributions__table-cell"><a class="eattributions__table-link" href="https://fontawesome.com/" target="_blank">https://fontawesome.com/</a></td>
            </tr>
            
          </tbody>
          <tfoot class="eattributions__table-foot ">
            <tr class="eattributions__table-row">
              <td class="eattributions__table-cell" colspan="6">*Las atribuciones son copiadas y pegadas textualmente como exigen los recursos que requieren licencia de atribución. El resto de imágenes y recursos tienen una licencia de uso Creative Commons, de uso gratuito o MIT.</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </section>

    </div>
    <include src="./views/footer.html"></include>
    <script type="module" src="./assets/scripts/main.js"></script><!-- do not remove this line! -->
  </body>
</html>
