<footer class="efooter">
  <div class="efooter__wrapper">
    <div class="efooter__nav">
      <picture>
        <source srcset="./assets/images/circular.png?as=webp" type="image/webp">
        <img class="efooter__logo" src="./assets/images/circular.png" alt="Logo" width="100" height="100">
    </picture>    
      
      <ul class="efooter__list">
        <li class="efooter__item"><a class="efooter__link" href="index.html">INICIO</a></li>
        <li class="efooter__item"><a class="efooter__link"  href="ponentes.html" >Conoce</a></li>
        <li class="efooter__item"><a class="efooter__link"  href="#" >Aprende</a></li>
        <li class="efooter__item"><a class="efooter__link"  href="formulario.html" >Participa</a></li>
        <li class="efooter__item"><a class="efooter__link"  href="#" >Recursos</a></li>
      </ul>
    </div>  
    <div class="efooter__social">
      <ul class="efooter__social-list">
        <li class="efooter__social-item"><a class="efooter__social-link" href="#" target="_blank"><i class="fa-brands fa-facebook"></i></li>
        <li class="efooter__social-item"><a class="efooter__social-link" href="#" target="_blank"><i class="fa-brands fa-x-twitter"></i></li>
        <li class="efooter__social-item"><a class="efooter__social-link" href="#" target="_blank"><i class="fa-brands fa-instagram"></i></li>
      </ul>
    </div>
    <div class="efooter__author"> 
      <p class="efooter__text">2025 &copy; Mónica Natalia Hernández Barrera</p>
      <p class="efooter__text">Página basada en <a class="efooter__author-link" href="https://github.com/uoc-advanced-html-css/uoc-boilerplate" target="_blank">UOC Boilerplate</a></p>
      <p class="efooter__text">Para la asignatura Herramientas <abbr class="efooter__abbr" title="HyperText Markup Language">HTML</abbr> y <abbr class="efooter__abbr" title="Cascading Style Sheets">CSS</abbr> II.</p>
      <p class="efooter__text">Máster en Desarrollo de Sitios y Aplicaciones Web de la <abbr class="efooter__abbr" title="Universitat Oberta de Catalunya">UOC</abbr>.</p>
    </div>
  </div>
</footer>
